body {
    background-color: #D60000;
    text-align: center;
}

img {
    width: 200px;
}

h1,
h2,
h3,
footer {
    color: #80be01;
    font-family: 'Pangolin', cursive;
}

html {
    scroll-behavior: smooth;
}
